<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerfiles">
  <meta charset="UTF-8"/>
  <title>Stack Chart Widget</title>
</head>
<body>
<div th:fragment="stats" class="card m-b-30">
  <div class="card-header">
    <h5 class="card-title mb-0">Revenue Stastics</h5>
  </div>
  <div class="card-body p-0">
    <ul class="list-inline p-3 mb-0">
      <li class="list-inline-item">
        <h4 class="mb-0">$12,398</h4>
      </li>
      <li class="list-inline-item">
        <button type="button" class="btn btn-secondary-rgba font-12 mb-2 dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">All</a>
          <a class="dropdown-item" href="#">McSit</a>
          <a class="dropdown-item" href="#">McWash</a>
          <a class="dropdown-item" href="#">McTank</a>
          <a class="dropdown-item" href="#">McZapf</a>
        </div>
      </li>
    </ul>
    <div id="apex-area-chart"></div>
    <p class="ecom-chart-btn"><span>7% Increase</span></p>
  </div>
</div>
</body>
</html>
