<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="std">
  <script th:src="@{/js/vendor/jquery.min.js}"></script>
  <script th:src="@{/js/vendor/popper.min.js}"></script>
  <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
  <script th:src="@{/js/vendor/modernizr.min.js}"></script>
  <script th:src="@{/js/vendor/detect.js}"></script>
  <script th:src="@{/js/vendor/jquery.slimscroll.js}"></script>
  <script th:src="@{/js/sidebar.js}"></script>
  <script th:if="${scriptPicker}" th:src="@{/js/vendor/datepicker.min.js}"></script>
  <!-- Charts js -->
  <script th:if="${scriptCharts}"  th:src="@{/js/vendor/sample-data.js}"></script>
  <script th:if="${scriptCharts}" th:src="@{/js/vendor/apexcharts.min.js}"></script>
  <!-- Slick js -->
  <script th:if="${scriptSlider}" th:src="@{/js/vendor/slick.min.js}"></script>
  <!-- Dashboard js -->
  <script th:if="${scriptOverview}" th:src="@{/js/overview.js}"></script>
  <!-- Users js -->
  <script th:if="${scriptUsers}" th:src="@{/js/users.js}"></script>
  <!-- Items js -->
  <script th:if="${scriptItems}" th:src="@{/js/items.js}"></script>
  <!-- Items js -->
  <script th:if="${scriptReservation}" th:src="@{/js/reservation.js}"></script>
  <!-- Order fuel js -->
  <script th:if="${scriptOrderFuel}" th:src="@{/js/warning.js}"></script>
  <!-- Items js -->
  <script th:if="${scriptCheckout}" th:src="@{/js/checkout.js}"></script>
  <!-- Sweetalert js -->
  <script th:if="${scriptSweetAlert}" th:src="@{/js/vendor/sweetalert2.min.js}"></script>
  <!-- Core js -->
  <script th:src="@{js/core.js}"></script>
  <!-- End js -->
</div>
</html>