<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <title>Component for Header for all Admin pages</title>
  </head>
  <body>
    <div th:fragment="nav" class="leftbar">
      <!-- Start Sidebar -->
      <div class="sidebar">
        <!-- Start Logobar -->
        <div class="logobar">
          <a href="/" class="logo logo-large">
            <img src="/images/logo.png" class="img-fluid" alt="logo">
          </a>
          <a href="/" class="logo logo-small">
            <img src="/images/favicon.png" class="img-fluid" alt="logo">
          </a>
        </div>
        <!-- End Logobar -->
        <!-- Start Navigationbar -->
        <div class="navigationbar">
          <ul class="vertical-menu">
            <li>
              <a th:href="@{/overview}">
                <img src="/images/svg/icons/dashboard.svg" class="img-fluid" alt="dashboard">
                <span>Dashboard test</span>
              </a>
            </li>
            <li>
              <a th:href="@{/user-management}">
                <img src="/images/svg/icons/user.svg" class="img-fluid" alt="dashboard">
                <span>User management</span>
              </a>
            </li>
            <li>
              <a th:href="@{/items}">
                <img src="/images/svg/icons/ecommerce.svg" class="img-fluid" alt="dashboard">
                <span>Product catalog</span>
              </a>
            </li>
            <li>
              <a href="javascript: document.logoutForm.submit()">
                <img src="/images/svg/icons/logout.svg" class="img-fluid" alt="dashboard">
                <span>Logout</span>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                  <input hidden type="submit" value="Sign Out"/>
                </form>
              </a>
            </li>

          </ul>
        </div>
        <!-- End Navigationbar -->
      </div>
      <!-- End Sidebar -->
    </div>
  </body>
</html>