<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<div th:fragment="std" class="topbar-mobile">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="mobile-logobar">
        <a href="/" class="mobile-logo"><img src="/images/logo.png" class="img-fluid" alt="logo"></a>
      </div>
      <div  th:if="${mobileNavExtended}" class="mobile-togglebar">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <div class="menubar">
              <a class="ham menu-hamburger" href="javascript:void(0);">
                <img src="/images/svg/icons/collapse.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                <img src="/images/svg/icons/close.svg" class="img-fluid menu-hamburger-close" alt="close">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div th:fragment="basic" th:insert="components/nav :: base"></div>
<div th:fragment="extended" th:insert="components/nav :: base(mobileNavExtended=true)"></div>
</html>