/*
---------------------
	: ToC for CSS :
---------------------
1. Variables
2. General rules
3. Bootstrap Overrides
4. Buttons
*/
@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap");
/*
--------------------------------
    : General css :
--------------------------------
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  background: #f2f5fa;
  font-size: 15px;
  font-weight: 400;
  color: #8A98AC;
  line-height: 1.5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #263a5b;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.3;
  margin-bottom: 10px;
}

label {
  vertical-align: middle;
}

* {
  outline: none !important;
}

a {
  color: #0080ff;
}
a:hover {
  color: #0073e6;
  outline: 0;
  text-decoration: none;
}
a:active {
  color: #0073e6;
  outline: 0;
  text-decoration: none;
}
a:focus {
  color: #0073e6;
  outline: 0;
  text-decoration: none;
}

code {
  color: #0080ff;
}

.logobar {
  padding: 15px 0;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.logobar .logo.logo-small {
  display: none;
}
.logobar .logo img {
  width: 128px;
}

.leftbar {
  width: 250px;
  height: 100%;
  position: fixed;
  background: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
  z-index: 9;
  transition: all 0.3s ease;
}

.rightbar {
  margin-left: 250px;
  overflow: hidden;
  min-height: 500px;
  transition: all 0.3s ease;
}

.contentbar {
  padding: 30px;
  margin-bottom: 30px;
}

.footerbar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 250px;
  padding: 20px 30px;
  text-align: center;
  background-color: #ffffff;
}

.toggle-menu .footerbar {
  left: 0;
}

.slimScrollBar {
  z-index: 0 !important;
}

.navigationbar {
  height: calc(100vh - 100px);
  overflow: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Webkit fallbacks */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/*
--------------------------------
    : Overrides for Bootstrap:
--------------------------------
*/
.text-muted {
  color: #8A98AC !important;
}

.text-primary {
  color: #0080ff !important;
}

/*
--------------------------------
    : Buttons Component :
--------------------------------
*/
.btn {
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 12px;
}

/* -- Success Button -- */
/* -- Success Button -- */
.btn-success {
  color: #ffffff;
  background-color: #18d26b;
  border-color: #18d26b;
  box-shadow: none;
}
.btn-success .disabled {
  color: #ffffff;
  background-color: #18d26b;
  border-color: #18d26b;
}
.btn-success:disabled {
  color: #ffffff;
  background-color: #18d26b;
  border-color: #18d26b;
}
.btn-success:active {
  background-color: #15bb5f;
  border-color: #15bb5f;
}
.btn-success:hover {
  background-color: #15bb5f;
  border-color: #15bb5f;
}
.btn-success.focus {
  color: #ffffff;
  background-color: #15bb5f;
  border-color: #15bb5f;
  box-shadow: 0 0 0 0.2rem #63eda1;
}
.btn-success:focus {
  color: #ffffff;
  background-color: #15bb5f;
  border-color: #15bb5f;
  box-shadow: 0 0 0 0.2rem #63eda1;
}
.btn-success:visited {
  background-color: #15bb5f;
  border-color: #15bb5f;
}
.btn-success:not(:disabled):not(.disabled).active {
  background-color: #15bb5f;
  border-color: #15bb5f;
}
.btn-success:not(:disabled):not(.disabled):active {
  background-color: #15bb5f;
  border-color: #15bb5f;
}
.btn-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #63eda1;
}
.btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #63eda1;
}

/* -- Link Buttons -- */
.btn-primary-rgba {
  background-color: rgba(0, 128, 255, 0.1);
  border: none;
  color: #0080ff;
}

.btn-primary-rgba:hover {
  background-color: #0080ff;
  border: none;
  color: #ffffff;
}

.btn-danger-rgba {
  background-color: rgba(255, 63, 63, 0.1);
  border: none;
  color: #ff3f3f;
}

.btn-danger-rgba:hover {
  background-color: #ff3f3f;
  border: none;
  color: #ffffff;
}

/*
------------------------------
    : Card component :
------------------------------
*/
.card {
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
}

/*
--------------------------------------
    : Form : Elements component :
--------------------------------------
*/
label {
  font-weight: 500;
}

.form-control {
  background-color: #ffffff;
  font-size: 15px;
  color: #8A98AC;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
}
.form-control:focus {
  border-color: #0080ff;
  box-shadow: none !important;
}
.form-control:focus:disabled {
  background-color: #d4d8de;
  opacity: 1;
}
.form-control:disabled {
  background-color: #d4d8de;
  opacity: 1;
}
.form-control[readonly] {
  background-color: #d4d8de;
  opacity: 1;
}
.form-control .form-check-input {
  margin-top: 0.25rem;
}

.form-control-plaintext {
  color: #8A98AC;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0080ff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0080ff;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  background-color: #0080ff;
  border-color: #0080ff;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.2rem #80c0ff;
}
.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #d4d8de;
  border-color: rgba(0, 0, 0, 0.03);
}

.custom-control-label::before {
  background-color: transparent;
  border: 1px solid #8A98AC;
}
.custom-control-label::before:focus {
  border-color: #0080ff;
}
.input-group-addon {
  border-radius: 5px;
  border: none;
}

.input-group-text {
  border: 1px solid #d4d8de;
  background: #dde0e5;
  color: #8A98AC;
}

.custom-select {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  color: #8A98AC;
}
.custom-select:focus {
  border-color: #0080ff;
  outline: 0;
  box-shadow: none;
}

.custom-file-label {
  color: #8A98AC;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  line-height: 1.9;
  font-weight: 400;
}
.custom-file-label::after {
  background-color: #0080ff;
  border: none;
  color: #ffffff;
  height: 36px;
  line-height: 24px;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #0080ff;
  box-shadow: none !important;
}
.custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #91f2bc;
  color: #8A98AC;
}

.custom-file-input.is-invalid ~ .custom-file-label,
.form-control[readonly] {
  background-color: #d4d8de;
  opacity: 1;
}

.custom-select.is-valid {
  border-color: #91f2bc;
  background-color: #ffffff;
}
.custom-select.is-valid:focus {
  border-color: #18d26b;
}

.form-control.is-valid {
  border-color: #91f2bc;
  background-color: #ffffff;
}
.form-control.is-valid:focus {
  border-color: #18d26b;
}

.was-validated .custom-select:valid {
  border-color: #91f2bc;
  background-color: #ffffff;
}
.was-validated .custom-select:valid:focus {
  border-color: #18d26b;
  box-shadow: none !important;
}
.was-validated .custom-select:invalid {
  border-color: #ffd8d8;
  background-color: #ffffff;
}
.was-validated .custom-select:invalid:focus {
  border-color: #ff3f3f;
  box-shadow: none !important;
}
.was-validated .form-control:valid {
  border-color: #91f2bc;
  background-color: #ffffff;
}
.was-validated .form-control:valid:focus {
  border-color: #18d26b;
}
.was-validated .form-control:invalid {
  border-color: #ffd8d8;
  background-color: #ffffff;
}
.was-validated .form-control:invalid:focus {
  border-color: #ff3f3f;
}
.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #18d26b;
}
.was-validated .custom-control-input:invalid ~ .custom-control-label {
  color: #ff3f3f;
}
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
  background-color: #18d26b;
}
.was-validated .custom-file-input:invalid ~ .custom-file-label {
  border-color: #ffd8d8;
  color: #8A98AC;
}
.was-validated .custom-file-input:invalid:focus ~ .custom-file-label {
  border-color: #ff3f3f;
}

.valid-feedback {
  color: #18d26b;
}

.custom-select.is-invalid {
  border-color: #ffd8d8;
  background-color: #ffffff;
}

.form-control.is-invalid {
  border-color: #ffd8d8;
  background-color: #ffffff;
}
.form-control.is-invalid:focus {
  border-color: #ff3f3f;
}

.valid-tooltip {
  background-color: #1ee577;
}

.invalid-tooltip {
  background-color: #ff5959;
}

.custom-control-input.is-valid ~ .custom-control-label {
  color: #18d26b;
}

.custom-control-input.is-invalid ~ .custom-control-label {
  color: #ff3f3f;
}
.custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: #ff3f3f;
}

.custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: #18d26b;
}

.invalid-feedback {
  color: #ff3f3f;
}

.form-check-input.is-invalid ~ .form-check-label {
  color: #ff3f3f;
}

.was-validated .form-check-input:invalid ~ .form-check-label {
  color: #ff3f3f;
}

.editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: dashed 1px #0080ff;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
  color: #ff3f3f;
}

.editable-submit {
  padding: 4px 8px;
}

.editable-cancel {
  padding: 4px 8px;
}

.custom-range {
  width: 100%;
  height: calc(1rem + .4rem);
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-range:focus {
  outline: 0;
}

input[type=range] {
  -webkit-appearance: none;
  color: rgba(0, 0, 0, 0.03);
  background-color: rgba(0, 0, 0, 0.03);
  height: 5px;
  cursor: default;
  padding: initial;
  border: initial;
  margin: 2px;
}
input[type=range]:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

/*
---------------------------------------
    : Component for Security Pages :
---------------------------------------
*/
/*
---------------------------------------
    : Custom - Security Pages css :
---------------------------------------
*/
.authenticate-bg {
  background: url("/images/backgrounds/security-bg.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.auth-box > .row {
  height: 100vh;
  padding: 15px 0;
}
.auth-box .auth-box-left .card {
  background: linear-gradient(-90deg, #8a51ff 0%, #ac45ff 100%);
  border-radius: 3px 0 0 3px;
}
.auth-box .auth-box-left .card .card-body {
  padding: 30px;
}
.auth-box .auth-box-left .auth-box-icon {
  margin: 83px 0;
}
.auth-box .auth-box-left .auth-box-logo {
  width: 150px;
}
.auth-box .auth-box-right .card {
  text-align: center;
}
.auth-box .auth-box-right .card .card-body {
  padding: 30px;
}
.auth-box .auth-box-right .error-title {
  font-size: 90px;
}
.auth-box .auth-box-right .web-logo img {
  margin: 30px 0;
}
.auth-box .auth-box-right .user-logo {
  position: relative;
  z-index: 999;
}
.auth-box .auth-box-right .user-logo img {
  height: 80px;
  width: 80px;
}
.auth-box .auth-box-right .form-head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.auth-box .auth-box-right .form-head img {
  width: 150px;
}
.auth-box .auth-box-right .login-or {
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.auth-box .auth-box-right .login-or:before {
  content: "";
  background: rgba(0, 0, 0, 0.03);
  height: 1px;
  width: 45%;
  top: 45%;
  left: 0;
  position: absolute;
}
.auth-box .auth-box-right .login-or:after {
  content: "";
  background: rgba(0, 0, 0, 0.03);
  height: 1px;
  width: 45%;
  top: 45%;
  right: 0;
  position: absolute;
}
.auth-box .auth-box-right .forgot-psw {
  text-align: right;
}
.auth-box .auth-box-right .custom-checkbox .custom-control-label:before {
  margin-top: -2px;
}
.auth-box .auth-box-right .custom-checkbox .custom-control-label:after {
  margin-top: -2px;
}
.auth-box.error-box .error-logo {
  width: 150px;
}
.auth-box.error-box .error-image {
  margin: 30px 0;
}
.auth-box.error-box > .row {
  height: 100vh;
}
.auth-box .countdown-block {
  display: inline-block;
  padding: 30px;
}

@media (max-width: 767px) {
  .auth-box > .row {
    height: auto;
  }
  .auth-box .auth-box-left .card {
    border-radius: 3px 3px 0 0;
  }
  .auth-box .auth-box-left .auth-box-icon {
    margin: 30px 0;
  }
  .auth-box .auth-box-left .auth-box-icon img {
    width: 150px;
  }
  .auth-box .auth-box-left .auth-box-logo {
    width: 100px;
  }
  .auth-box .auth-box-left h4 {
    font-size: 22px;
  }
  .auth-box .auth-box-right .card {
    border-radius: 0 0 3px 3px;
  }
  .auth-box .auth-box-right h4 {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .auth-box .auth-box-right .forgot-psw {
    text-align: left;
  }
}

/*# sourceMappingURL=theme.css.map */
