<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Cart</title>
</head>
<body>
    <h1> Cart </h1> <br>
    <p>
        <table width="100%" border="1">
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
			<tr>
				<td>Product</td>
				<td>McTank</td>
				<td>1</td>
				<td>12.99€</td>
        </table>
        </p>
        <p>
    <form method="post" th:action="@{/cart}">
        <input id="discountCode" name="discountCode" type="text"/> <br>
        <button type="submit"> add discount </button>
    </form>
    </p>
    <div>
 
        <p>Final price:</p><p th:text="${price}">EUR 12.99</p>
        <a href='/items'><button>add another item</button></a></br>
        <a href='/checkout'><button> complete Order</button></a></br>
    </div>

</body>
</html>