<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="McTank - the best fuel in the world">
  <meta name="author" content="company18">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>McTank | Cart</title>
  <!-- Favicon -->
  <link rel="shortcut icon" th:href="@{/images/favicon.png}">
  <!-- Start css -->
  <!-- Charts css -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/apexcharts.css}">
  <!-- Slider css -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/slick.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/slick-theme.css}">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/bootstrap.min.css}">
  <!-- Icons -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/icons.css}">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/theme.css}">
  <!-- End css -->
</head>

<body class="vertical-layout">
<!-- Start Containerbar -->
<div id="containerbar">
  <!-- Start Rightbar -->
  <div class="center">
    <!-- Start Topbar Mobile -->
    <div th:insert="components/utils/mobile-nav :: nav"></div>
    <!-- Start Breadcrumbbar -->
    <div th:insert="components/headers/labels :: label-cart"></div>
    <!-- End Breadcrumbbar -->
    <!-- Start Contentbar -->
    <div class="contentbar">
      <!-- Start row -->
      <div class="row">
        <!-- Start col -->
        <div class="col-lg-12">
          <div th:insert="components/utils/cart :: cart"></div>
        </div>
        <!-- End col -->
      </div>
      <!-- End row -->
    </div>
    <!-- End Contentbar -->
  </div>
  <!-- End Rightbar -->
</div>
<!-- End Containerbar -->
<!-- Start js -->
<script th:src="@{/js/vendor/jquery.min.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/detect.js}"></script>
<script th:src="@{/js/vendor/jquery.slimscroll.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<!-- Charts js -->
<script th:src="@{/js/vendor/sample-data.js}"></script>
<script th:src="@{/js/vendor/apexcharts.min.js}"></script>
<!-- Slick js -->
<script th:src="@{/js/vendor/slick.min.js}"></script>
<!-- Dashboard js -->
<script th:src="@{/js/overview.js}"></script>
<!-- Core js -->
<script th:src="@{js/core.js}"></script>
<!-- End js -->
</body>
</html>