<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Checkout</title>
</head>
<body>
    <h1> Checkout </h1>
            <p>Final price:</p><p th:text="${finalprice}">EUR 12.99</p>
    
       <form method="post" th:action="@{/checkout}">
        <label> Gutscheincode einlösen:</label><br>
        <input id="discountCode" name="discountCode" type="text"/> <br>
        <button type="submit"> add discount </button> 
    </form>
      	<a href='/checkout'><button> pay </button></a>
    </form>
</body>
</html>