<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--suppress HtmlRequiredTitleElement  -- Will be inserted with thymeleaf-->
<head th:insert="core/head :: std(pageName='Not Found')"></head>

<body class="vertical-layout">
<!-- Start Containerbar -->
<div id="containerbar" class="containerbar authenticate-bg">
  <!-- Start Container -->
  <div class="container">
    <div class="auth-box error-box">
      <!-- Start row -->
      <div class="row no-gutters align-items-center justify-content-center">
        <!-- Start col -->
        <div class="col-md-8 col-lg-6">
          <div class="text-center">
            <img src="/images/logo.png" class="img-fluid error-logo" alt="logo">
            <img src="/images/errors/404.svg" class="img-fluid error-image" alt="404">
            <h4 class="error-subtitle mb-4">Oops! Page not Found</h4>
            <p class="mb-4">
              We did not find the page you are looking for. Please return to previous page or visit home page.
            </p>
            <a href="/" class="btn btn-primary font-16"><i class="feather icon-home mr-2"></i>
              Take me home
            </a>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End row -->
    </div>
  </div>
  <!-- End Container -->
</div>
<!-- End Containerbar -->
</body>
</html>