<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Item Details</title>
	</head>

	<body>
		<h1 th:text="${product.name}">Item Details</h1>
		<div>
			<span>Preis:</span>
			<span th:text="${product.price}"></span><br>

			<span>Auf Lager:</span>
			<span th:text="${quantity}"></span><br>
		</div>
	</body>
</html>