<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--suppress HtmlRequiredTitleElement  -- Will be inserted with thymeleaf-->
<head th:insert="core/head :: all(pageName='Products', headerSweet=true)"></head>
<body class="vertical-layout">
<div id="containerbar">
	<div th:insert="components/admin-nav :: nav "></div>
	<div class="rightbar">
		<div th:insert="components/mobile-nav :: extended"></div>
		<div th:insert="components/breadcrumb :: orders"></div>
		<div class="contentbar">
			<div class="row">
				<div class="col-lg-12">
					<div class="card m-b-30">
						<div class="card-header">
							<h5 class="card-title mb-0">My Orders</h5>
						</div>
						<div class="card-body">
							<div class="row justify-content-center">
								<div class="col-sm-6 col-md-6 col-lg-4">
									<img src="/images/svg/orders.svg" class="img-fluid" alt="wallet">
								</div>
							</div>
						</div>
					</div>
					<div th:replace="components/tables/orders :: table"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="core/scripts :: std"></div>
</body>
</html>