<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="McTank - the best fuel in the world">
  <meta name="author" content="company18">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>McTank | Overview</title>
  <!-- Fevicon -->
  <link rel="shortcut icon" th:href="@{/images/favicon.png}">
  <!-- Start css -->
  <!-- Charts css -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/apexcharts.css}">
  <!-- Slider css -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/slick.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/slick-theme.css}">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/bootstrap.min.css}">
  <!-- Icons -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/vendor/icons.css}">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/theme.css}">
  <!-- End css -->
</head>
<body class="vertical-layout">
<!-- Start Containerbar -->
<div id="containerbar">
  <!-- Start Leftbar -->
  <div th:insert="components/navigation/admin-nav :: nav "></div>
  <!-- End Leftbar -->
  <!-- Start Rightbar -->
  <div class="rightbar">
    <!-- Start Topbar Mobile -->
    <div th:insert="components/utils/mobile-nav :: nav "></div>
    <!-- Start Breadcrumbbar -->
    <div class="breadcrumbbar">
      <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
          <h4 class="page-title">Overview</h4>
          <div class="breadcrumb-list">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Overview</li>
            </ol>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="widgetbar">
            <a  class="ham btn btn-secondary-rgba d-lg-inline-block d-sm-none" href="javascript:void(0);">
              <i class="feather icon-aperture"></i>
              <span id="compact">Compact Mode</span>
            </a>
            <a href="/" class="btn btn-primary-rgba"><i class="feather icon-refresh-ccw mr-2"></i>Update</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbbar -->
    <!-- Start Contentbar -->
    <div class="contentbar">
      <!-- Start row -->
      <div class="row">
        <!-- Start col -->
        <div class="col-lg-12 col-xl-4">
          <!-- Start row -->
          <div class="row">
            <!-- Start col -->
            <div class="col-lg-12">
              <div th:insert="components/widgets/pie-chart :: pie"></div>
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-12">
              <div class="card m-b-30">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-5">
                      <h5 class="card-title mb-0">Average <br/>Profit</h5>
                    </div>
                    <div class="col-7 text-right">
                      <h4 class="mb-0">$2075 <span class="badge badge-secondary-inverse font-14 v-a-m">+23</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End col -->
          </div>
          <!-- End row -->
        </div>
        <!-- End col -->
        <!-- Start col -->
        <div class="col-lg-12 col-xl-8">
          <!-- Start row -->
          <div class="row">
            <!-- Start col -->
            <div class="col-lg-12">
              <div th:insert="components/widgets/stack-chart :: stack"></div>
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-12">
              <div th:insert="components/widgets/stats-chart :: stats"></div>
            </div>
            <!-- End col -->
          </div>
          <!-- End row -->
        </div>
        <!-- End col -->
      </div>
      <!-- End row -->
      <!-- Start row -->
      <div class="row">
        <!-- Start col -->
        <div class="col-lg-6 col-xl-4">
          <!-- Start row -->
          <div class="row">
            <!-- Start col -->
            <div class="col-lg-6">
              <div class="card text-center m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">Orders</h5>
                </div>
                <div class="card-body px-0 pb-0">
                  <p class="dash-analytic-icon"><i class="feather icon-shopping-bag success-rgba text-success"></i></p>
                  <h4 class="mb-3">79</h4>
                  <p>60% Target</p>
                  <div class="progress" style="height: 5px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6">
              <div class="card text-center m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">Users</h5>
                </div>
                <div class="card-body px-0 pb-0">
                  <p class="dash-analytic-icon"><i class="feather icon-users primary-rgba text-primary"></i></p>
                  <h4 class="mb-3">125</h4>
                  <p>80% Target</p>
                  <div class="progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End col -->
          </div>
          <!-- End row -->
        </div>
        <!-- End col -->
        <!-- Start col -->
        <div class="col-lg-4">
          <div class="card m-b-30">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-9">
                  <h5 class="card-title mb-0">Storage</h5>
                </div>
                <div class="col-3">
                  <div class="dropdown">
                    <button class="btn btn-link l-h-20 p-0 font-18 float-right" type="button" id="widgetStorage"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="feather icon-more-horizontal-"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="widgetStorage">
                      <a class="dropdown-item font-13" href="#">Refresh</a>
                      <a class="dropdown-item font-13" href="#">Export</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-lg-6 col-xl-7">
                  <p><i class="feather icon-arrow-up text-primary mr-1"></i>Used: <strong>7.2k L</strong></p>
                  <p><i class="feather icon-arrow-down mr-1"></i>Total: <strong>17.8k L</strong></p>
                </div>
                <div class="col-lg-6 col-xl-5 text-center">
                  <img src="/images/backgrounds/storage.png" class="img-fluid" alt="storage">
                  <p class="storage-num">10.6k L</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End col -->
        <!-- Start col -->
        <div class="col-lg-4">
          <div class="card m-b-30">
            <div class="card-header">
              <h5 class="card-title mb-0">Best Selling Product</h5>
            </div>
            <div class="card-body">
              <div class="best-product-slider">
                <div class="best-product-slider-item">
                  <div class="row">
                    <div class="col-4">
                      <img src="https://retohercules.com/images/snickers-png-6.png" class="img-fluid" alt="product">
                    </div>
                    <div class="col-8">
                      <span class="font-12 text-uppercase">McSit</span>
                      <h5 class="mt-2 mb-4 font-16">Snickers</h5>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item pr-2 border-right">
                          <h4 class="mb-0">205</h4>
                          <p class="mb-0">Sold</p>
                        </li>
                        <li class="list-inline-item">
                          <h4 class="mb-0">52</h4>
                          <p class="mb-0">In Stock</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="best-product-slider-item">
                  <div class="row">
                    <div class="col-4">
                      <img src="https://www.stickpng.com/assets/images/58d2a6b0dc164e9dd9e668f2.png" class="img-fluid"
                           alt="product">
                    </div>
                    <div class="col-8">
                      <span class="font-12 text-uppercase">McTank</span>
                      <h5 class="mt-2 mb-4 font-16">Kitkat std.</h5>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item pr-3 border-right">
                          <h4 class="mb-0">121</h4>
                          <p class="mb-0">Sold</p>
                        </li>
                        <li class="list-inline-item">
                          <h4 class="mb-0">35</h4>
                          <p class="mb-0">In Stock</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="best-product-slider-item">
                  <div class="row">
                    <div class="col-4">
                      <img src="https://www.evochem.gr/images/stories/virtuemart/product/ANTIFREEZE.png"
                           class="img-fluid" alt="product">
                    </div>
                    <div class="col-8">
                      <span class="font-12 text-uppercase">McWash</span>
                      <h5 class="mt-2 mb-4 font-16">Antifreeze</h5>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item pr-3 border-right">
                          <h4 class="mb-0">55</h4>
                          <p class="mb-0">Sold</p>
                        </li>
                        <li class="list-inline-item">
                          <h4 class="mb-0">31</h4>
                          <p class="mb-0">In Stock</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End col -->

      </div>
      <!-- End row -->
    </div>
    <!-- End Contentbar -->
  </div>
  <!-- End Rightbar -->
</div>
<!-- End Containerbar -->
<!-- Start js -->
<script th:src="@{/js/vendor/jquery.min.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/detect.js}"></script>
<script th:src="@{/js/vendor/jquery.slimscroll.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<!-- Charts js -->
<script th:src="@{/js/vendor/sample-data.js}"></script>
<script th:src="@{/js/vendor/apexcharts.min.js}"></script>
<!-- Slick js -->
<script th:src="@{/js/vendor/slick.min.js}"></script>
<!-- Dashboard js -->
<script th:src="@{/js/overview.js}"></script>
<!-- Core js -->
<script th:src="@{js/core.js}"></script>
<!-- Fuel js-->
<script th:src="@{js/warnig.js}"></script>
<!-- End js -->
</body>
</html>