<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--suppress HtmlRequiredTitleElement  -- Will be inserted with thymeleaf-->
<head th:insert="core/head :: all(pageName='Overview', headerSweet=true)"></head>
<body class="vertical-layout">
<div id="containerbar">
  <div th:insert="components/admin-nav :: nav "></div>
  <div class="rightbar">
    <div th:insert="components/mobile-nav :: extended"></div>
    <div th:insert="components/breadcrumb :: admin"></div>
    <div class="contentbar">
      <div class="row">
        <div class="col-lg-12 col-xl-4">
          <div class="row">
            <div class="col-lg-12">
              <div th:insert="components/charts/pie-chart :: pie"></div>
            </div>
            <div class="col-lg-12">
              <div class="card m-b-30">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-5">
                      <h5 class="card-title mb-0">Average Profit<br/>per Order</h5>
                    </div>
                    <div class="col-7 text-right">
                      <h4 class="mb-0" th:text="${averageProfitPerOrder}">$2075 </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xl-8">
          <div class="row">
            <div class="col-lg-12">
              <div th:insert="components/charts/stack-chart :: stack"></div>
            </div>
            <div class="col-lg-12">
              <div th:insert="components/charts/stats-chart :: stats"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-xl-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="card text-center m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">Orders</h5>
                </div>
                <div class="card-body px-0 pb-0">
                  <p class="dash-analytic-icon"><i class="feather icon-shopping-bag success-rgba text-success"></i></p>
                  <h4 class="mb-3" th:text="${ordersAmount}">79</h4>
                  <p><span th:text="${completedOrdersPercent}"></span>% Completed</p>
                  <div class="progress" style="height: 5px;">
                    <div class="progress-bar bg-success" role="progressbar" th:style="'width: ' + ${completedOrdersPercent} + '%'"
                         th:aria-valuenow="${completedOrdersPercent}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card text-center m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">Users</h5>
                </div>
                <div class="card-body px-0 pb-0">
                  <p class="dash-analytic-icon"><i class="feather icon-users primary-rgba text-primary"></i></p>
                  <h4 class="mb-3" th:text="${activeUserAmount}">125</h4>
                  <p><span th:text="${activeUserPercent}"></span>% Active Users</p>
                  <div class="progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" th:style="'width:' + ' ' + ${activeUserPercent}+'%'"
                         th:aria-valuenow="${activeUserPercent}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card m-b-30">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-9">
                  <h5 class="card-title mb-0">Storage</h5>
                </div>
                <div class="col-3">
                  <div class="dropdown">
                    <button class="btn btn-link l-h-20 p-0 font-18 float-right" type="button" id="widgetStorage"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="feather icon-more-horizontal-"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="widgetStorage">
                      <a class="dropdown-item font-13" href="#">Refresh</a>
                      <a class="dropdown-item font-13" href="#">Export</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-lg-6 col-xl-7">
                  <span class="badge badge-danger text-uppercase m-b-15" th:if="${fuelDieselWarning}">DIESEL FINISHING</span>
                  <span class="badge badge-danger text-uppercase m-b-15" th:if="${fuelBenzineWarning}">BENZINE FINISHING</span>
                  <p><i class="feather icon-arrow-up text-primary mr-1">Diesel</i>: <strong th:text="${dieselTotal}">7.2k L</strong></p>
				  <p><i class="feather icon-star text-primary mr-1">Diesel Prediction</i>: <strong th:text="${dieselFuture}">7.2k L</strong></p>
                  <p><i class="feather icon-star text-primary mr-1">Benzine Prediction</i>: <strong th:text="${benzineFuture}">7.2k L</strong></p>
                  <p><i class="feather icon-arrow-down mr-1"></i>Benzine: <strong th:text="${benzineTotal}">17.8k L</strong></p>
                  <button type="button" id="order-fuel" class="btn btn-primary-rgba" th:if="${fuelDieselWarning || fuelBenzineWarning}"><i class="feather icon-plus mr-2"></i>Order Fuel</button>
                </div>
                <div class="col-lg-6 col-xl-5 text-center">
                  <img src="/images/backgrounds/storage.png" class="img-fluid" alt="storage">
                  <p class="storage-num" th:text="(${dieselTotal.getAmount().intValue()} + ${benzineTotal.getAmount().intValue()}) + 'L'">10.6k L</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card m-b-30">
            <div class="card-header">
              <h5 class="card-title mb-0">Best Selling Product</h5>
            </div>
            <div class="card-body">
              <div class="best-product-slider" th:unless="${bestProducts.isEmpty()}">
                <div th:each="point : ${bestProducts}" class="best-product-slider-item">
                  <div class="row">
                    <div class="col-4">
                      <img th:src="'/images/svg/icons/'+ ${point.key}+'.svg'" class="img-fluid" alt="product">
                    </div>
                    <div class="col-8">
                      <span class="font-12 text-uppercase" th:text="${point.key}">McSit</span>
                      <h5 class="mt-2 mb-4 font-16" th:text="${point.value.getProduct().getName()}">Snickers</h5>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item pr-2 border-right">
                          <h4 class="mb-0" th:text="${point.value.getOrders()}">205</h4>
                          <p class="mb-0">Sold</p>
                        </li>
                        <li class="list-inline-item">
                          <h4 class="mb-0" th:text="${point.value.getQuantity()}">52</h4>
                          <p class="mb-0">In Stock</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="core/scripts :: std(scriptSweetAlert=true, scriptCharts=true, scriptOrderFuel=true, scriptSlider=true, scriptOverview=true)"></div>
</body>
</html>