<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Reservation</title>
	</head>
	<body>
		<h1>Reservierungen</h1>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Datum</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservation : ${reservations}">
					<td th:text="${reservation.name}">Name<td> 
					<td th:text="${#temporals.format(reservation.date, 'dd.MM.yyyy  -  HH:mm')}">Datum<td> 
				</tr>
			</tbody>
		</table>
		<br/>
		<br/>
		<h3>Reservierung hinzufügen</h3>
		<form method="post" action="#" id="form" th:action="@{/reservation}" th:object="${form}">
		<div>
			<label for="name">Name</label>
			<br/>
			<input th:field="*{name}" type="text" required="required"/>
			<br/>
            <label for="date">Datum</label>
			<br/>
            <input th:field="*{date}" type="date" required="required"/>
			<br/>
			<label for="time">Uhrzeit</label>
			<br/>
            <input th:field="*{time}" type="time" required="required"/>
			<br/>
			<br/>
			<input type="submit" value="Hinzufügen"/>
        </div>
		</form>

		<a href='/'><button>Back to Welcome</button></a></br>
	</body>
</html>