<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--suppress HtmlRequiredTitleElement  -- Will be inserted with thymeleaf-->
<head th:insert="core/head :: std(pageName='Sing Up')"></head>
<body class="vertical-layout">
<div id="containerbar" class="containerbar authenticate-bg">
  <div class="container">
    <div class="auth-box login-box">
      <div class="row no-gutters align-items-center justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="auth-box-right">
            <div class="card">
              <div class="card-body">
                <form th:replace="components/forms :: sign-up"></form>
                <p class="mb-0 mt-3">Oh, you have an account? <a th:href="@{/login}">Log in!</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>