<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--suppress HtmlRequiredTitleElement  -- Will be inserted with thymeleaf-->
<head th:insert="core/head :: all(pageName='Account', headerSweet=true)"></head>
<body class="vertical-layout">
<div id="containerbar">
  <div class="m-xr">
    <div th:insert="components/mobile-nav :: basic"></div>
    <div th:insert="components/breadcrumb :: user-account"></div>
    <!-- Start Contentbar -->
    <div class="contentbar">
      <!-- Start row -->
      <div class="row">
        <!-- Start col -->
        <div class="col-lg-5 col-xl-3">
          <div class="card m-b-30">
            <div class="card-header">
              <h5 class="card-title mb-0">My Account</h5>
            </div>
            <div class="card-body">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link mb-2 active" id="v-pills-dashboard-tab" href="#v-pills-dashboard" role="tab"
                   data-toggle="pill" aria-controls="v-pills-dashboard" aria-selected="true">
                  <i class="feather icon-grid mr-2"></i>
                  Dashboard
                </a>
                <a class="nav-link mb-2" id="v-pills-order-tab" href="#v-pills-order" role="tab"
                   data-toggle="pill" aria-controls="v-pills-order" aria-selected="false">
                  <i class="feather icon-package mr-2"></i>
                  Orders
                </a>
                <a class="nav-link mb-2" id="v-pills-reservations-tab" href="#v-pills-reservations" role="tab"
                   data-toggle="pill" aria-controls="v-pills-reservations" aria-selected="false">
                  <i class="feather icon-calendar mr-2"></i>
                  Reservations
                </a>
                <a class="nav-link mb-2" id="v-pills-wallet-tab" href="#v-pills-wallet" role="tab"
                   data-toggle="pill" aria-controls="v-pills-wallet" aria-selected="true">
                  <i class="feather icon-archive mr-2"></i>
                  Coupons
                </a>
                <a class="nav-link mb-2" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false"><i class="feather icon-user mr-2"></i>
                  My Profile
                </a>
                <a class="nav-link" id="v-pills-logout-tab" data-toggle="pill" href="#v-pills-logout" role="tab"
                   aria-controls="v-pills-logout" aria-selected="false"><i class="feather icon-log-out mr-2"></i>
                  Logout
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End col -->
        <!-- Start col -->
        <div class="col-lg-7 col-xl-9">
          <div class="tab-content" id="v-pills-tabContent">
            <!-- Dashboard Start -->
            <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel"
                 aria-labelledby="v-pills-dashboard-tab">
              <div class="card m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">Dashboard</h5>
                </div>
                <div class="card-body">
                  <div class="profilebox py-4 text-center">
                    <img src="/images/svg/profile.svg" class="img-fluid mb-3" alt="profile">
                    <div class="profilename  my-3">
                      <h5 th:text="${customer.getFullName()}">John Doe</h5>
                    </div>
                    <div class="m-b-40">
                      <h6 th:text="${customer.getUsername()}">JohnDoe123</h6>
                    </div>
                    <div class="button-list">
                      <a href="#" class="btn btn-info-rgba font-18">
                        <i class="feather icon-phone-call mr-2"></i>
                        Make reservation
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Start row -->
              <div class="row">
                <!-- Start col -->
                <div class="col-lg-12 col-xl-4">
                  <div class="card m-b-20">
                    <div class="card-body">
                      <div class="ecom-dashboard-widget">
                        <div class="media">
                          <i class="feather icon-package"></i>
                          <div class="media-body">
                            <h5>My Orders</h5>
                            <p>3 Completed</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End col -->
                <!-- Start col -->
                <div class="col-lg-12 col-xl-4">
                  <div class="card m-b-20">
                    <div class="card-body">
                      <div class="ecom-dashboard-widget">
                        <div class="media">
                          <i class="feather icon-heart"></i>
                          <div class="media-body">
                            <h5>My McPoints</h5>
                            <p>7 Point(s)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End col -->
                <!-- Start col -->
                <div class="col-lg-12 col-xl-4">
                  <div class="card m-b-20">
                    <div class="card-body">
                      <div class="ecom-dashboard-widget">
                        <div class="media">
                          <i class="feather icon-credit-card"></i>
                          <div class="media-body">
                            <h5>Reservation</h5>
                            <p>No reservations</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End col -->
              </div>
              <!-- End row -->
            </div>
            <!-- Dashboard End -->
            <!-- My Orders Start -->
            <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
              <div class="card m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">My Orders</h5>
                </div>
                <div class="card-body">
                  <div class="order-box">
                    <div class="card border m-b-30">
                      <div class="card-header">
                        <div class="row align-items-center">
                          <div class="col-sm-6">
                            <h5>ID : #26598</h5>
                          </div>
                          <div class="col-sm-6">
                            <h6 class="mb-0">Total : <strong>$500</strong></h6>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-borderless">
                            <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Photo</th>
                              <th scope="col">Product</th>
                              <th scope="col">Qty</th>
                              <th scope="col">Price</th>
                              <th scope="col" class="text-right">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td><img src="assets/images/ecommerce/product_01.svg" class="img-fluid" width="35"
                                       alt="product"></td>
                              <td>Apple Watch</td>
                              <td>1</td>
                              <td>$100</td>
                              <td class="text-right">$100</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td><img src="assets/images/ecommerce/product_02.svg" class="img-fluid" width="35"
                                       alt="product"></td>
                              <td>Apple iPhone</td>
                              <td>2</td>
                              <td>$200</td>
                              <td class="text-right">$400</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row align-items-center">
                          <div class="col-sm-6">
                            <h5>Status : <span class="badge badge-warning-inverse font-14">Open</span></h5>
                          </div>
                          <div class="col-sm-6">
                            <h6 class="mb-0">
                              <button class="btn btn-success-rgba font-16"><i class="feather icon-file mr-2"></i>Request
                                Invoice
                              </button>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-box">
                    <div class="card border m-b-30">
                      <div class="card-header">
                        <div class="row align-items-center">
                          <div class="col-sm-6">
                            <h5>ID : #26597</h5>
                          </div>
                          <div class="col-sm-6">
                            <h6 class="mb-0">Total : <strong>$100</strong></h6>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-borderless">
                            <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Photo</th>
                              <th scope="col">Product</th>
                              <th scope="col">Qty</th>
                              <th scope="col">Price</th>
                              <th scope="col" class="text-right">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>
                                <img src="assets/images/ecommerce/product_01.svg" class="img-fluid" width="35"
                                     alt="product">
                              </td>
                              <td>Apple iPad</td>
                              <td>1</td>
                              <td>$100</td>
                              <td class="text-right">$100</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row align-items-center">
                          <div class="col-sm-6">
                            <h5>Status : <span class="badge badge-primary-inverse font-14">Paid</span></h5>
                          </div>
                          <div class="col-sm-6">
                            <h6 class="mb-0">
                              <button class="btn btn-success-rgba font-16"><i class="feather icon-file mr-2"></i>Request
                                Invoice
                              </button>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- My Orders End -->
            <!-- My Reservations Start -->
            <div class="tab-pane fade" id="v-pills-reservations" role="tabpanel"
                 aria-labelledby="v-pills-reservations-tab">
              <div class="card m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">My Reservations</h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col-lg-12 col-xl-12">
                      <div class="address-box">
                        <div class="card border m-b-30">
                          <div class="card-body text-center py-5">
                            <p>
                              <button type="button" class="btn btn-round btn-success-rgba">
                                <i class="feather icon-calendar"></i>
                              </button>
                            </p>
                            <h5 class="mt-4 mb-0">Request New Reservation</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div th:each="reservation : ${reservations}" class="col-lg-12 col-xl-6">
                      <div class="address-box">
                        <div class="card border m-b-30">
                          <div class="card-header">
                            <h5 class="mb-0" th:text="${reservation.getName()}">Amy Adams</h5>
                          </div>
                          <div class="card-body">
                            <p><b>Point: </b> <span th:text="${reservation.getMcPoint()}">McWash</span></p>
                            <p><b>Date: </b> <span th:text="${#temporals.format(reservation.date, 'dd.MM.yyyy')}">McWash</span></p>
                            <p><b>Time: </b> <span th:text="${#temporals.format(reservation.date, 'hh:mm a')}">11:11 am</span></p>
                            <p class="mb-0"><b>User:</b><span th:text="${reservation.getUsername()}">No Info</span></p>
                          </div>
                          <div class="card-footer">
                            <div class="button-list">
                              <form action="/account/reservation/delete" method="post">
                                <input type="hidden" th:name="reservationId" th:value="${reservation.getId()}">
                                <button type="submit" class="btn btn-danger-rgba mb-1">
                                  <i class="feather icon-trash mr-2"></i>
                                  Delete this event
                                </button>
                              </form>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- My Reservations End -->
            <!-- My Coupons Start -->
            <div class="tab-pane fade" id="v-pills-wallet" role="tabpanel" aria-labelledby="v-pills-wallet-tab">
              <div class="card m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">My Wallet</h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                      <img src="/images/svg/money.svg" class="img-fluid" alt="wallet">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card m-b-30">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h5 class="card-title mb-0">List of your Coupons</h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="wallet-transaction-box">
                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Percent(%)</th>
                          <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coupon : ${customer.getDiscounts()}">
                          <th scope="row" th:text="${coupon.getShortId()}">1</th>
                          <td th:text="${coupon.getName()}">McTen</td>
                          <td th:text="${coupon.getDiscount()*100} + '%'">10%</td>
                          <td>
                            <span class="badge"
                                  th:classappend="${coupon.getStatus().toString()} == 'AVAILABLE'?'badge-success-inverse':'badge-danger-inverse'"
                                  th:text="${coupon.getStatus()}">Available
                            </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- My Coupons End -->
            <!-- My Profile Start -->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <div class="card m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">My Profile</h5>
                </div>
                <div class="card-body">
                  <div class="profilebox pt-4 text-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="btn btn-success-rgba font-18"><i class="feather icon-edit"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <img src="images/svg/profile.svg" class="img-fluid" alt="profile">
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="btn btn-danger-rgba font-18"><i class="feather icon-trash"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">Edit Profile Informations</h5>
                </div>
                <div class="card-body">
                  <form action="/account/update" method="post" th:object="${form}">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="firstname">First name</label>
                        <input th:value="${customer.getFirstname()}" th:placeholder="${customer.getFirstname()}"
                               name="firstname" type="text" class="form-control" id="firstname" minlength="1">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input th:value="${customer.getLastname()}" th:placeholder="${customer.getLastname()}"
                               name="lastname" type="text" class="form-control" id="lastName" minlength="1">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">E-mail</label>
                        <input th:value="${customer.getEmail()}" th:placeholder="${customer.getEmail()}"
                               name="email" type="email" class="form-control" id="email" minlength="1">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="mobile">Mobile Number</label>
                        <input th:value="${customer.getMobile()}" th:placeholder="${customer.getMobile()}"
                               name="mobile" type="text" class="form-control" id="mobile" minlength="5">
                      </div>
                      <input type="hidden" th:name="id" th:value="${customer.getId()}">
                    </div>
                    <button type="submit" class="btn btn-primary-rgba font-16">
                      <i class="feather icon-save mr-2"></i>
                      Save updated info
                    </button>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="card m-b-30 ">
                    <div class="card-header">
                      <h5 class="card-title mb-0">Change password</h5>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title font-18">Here you can change your password anytime you want.</h5>
                      <p class="card-text mb-4">
                        Just enter new password in the field below and press the "Change password" button.
                        That's simple.
                      </p>
                      <form action="/account/new-password" method="post" th:object="${form}">
                        <div class="form-row m-b-15">
                          <div class="form-group col-md-6">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" id="password" minlength="1"
                                   name="password" placeholder="Enter new password here">
                          </div>
                          <input type="hidden" th:name="id" th:value="${customer.getId()}">
                        </div>
                        <button type="submit" class="btn btn-primary-rgba font-16">
                          <i class="feather icon-unlock mr-2"></i>
                          Change Password
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12">
                  <div class="card m-b-30">
                    <div class="card-header mb-1">
                      <h5 class="card-title mb-0">Delete Account</h5>
                    </div>
                    <div class="card-body">
                      <p class="mb-4 font-19"><span class="badge badge-danger text-uppercase">DANGER ZONE</span></p>
                      <h5 class="card-title font-18 mb-3">This button will complete delete your account from McTank.</h5>
                      <p class="card-text mb-4">
                        You can not restore or export your data after deletion. All your personal data will be lost.
                      </p>

                      <form action="/account/delete" method="post" th:object="${form}">
                        <input type="hidden" th:name="id" th:value="${customer.getId()}">
                        <button type="submit" class="btn btn-danger-rgba font-16">
                          <i class="feather icon-user-minus mr-2"></i>
                          Delete my Account
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- My Profile End -->
            <!-- My Logout Start -->
            <div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-logout-tab">
              <div class="card m-b-30">
                <div class="card-header">
                  <h5 class="card-title mb-0">Logout</h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                      <div class="logout-content text-center my-5">
                        <img src="/images/svg/logout.svg" class="img-fluid mb-5" alt="logout">
                        <h2>Logout ?</h2>
                        <p class="my-4">Are you sure to want to Log out? We will miss you.</p>
                        <div class="button-list">
                          <form name="logoutForm" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-danger font-16">
                              <i class="feather icon-check mr-2"></i>
                              Yes, I'm sure
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="core/scripts :: std"></div>
</body>
</html>