<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
  <meta charset="UTF-8"/>
  <title>Items table</title>
</head>
<body>
<div th:fragment="items-table" class="card m-b-30" th:each="point : ${assortment}">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-6">
        <h5 class="card-title mb-0" th:text="${point.key}">No Data provided</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th>Name</th>
          <th>Available</th>
          <th>Price</th>
          <th>Orders</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" product : ${point.value}">
          <th th:text="${product.Name}">No info</th>
          <td th:text="${quantityMap.get(product.getId().getIdentifier())}">No Info</td>
          <td th:text="${product.Price}">No info</td>
          <td th:with="order=${orderMap.get(product.getId().getIdentifier())}"
              th:text="${order == null} ? 'No Info' : ${order}">
            No Info
          </td>
          <td>
            <div class="button-list">
              <div class="input-group mb-0">
                <form th:if="${role} == 'MANAGER'" method="post" th:action="@{/cart}">
                  <input type="hidden" name="product-id" th:value="${product.id}"/>
                  <div class="input-group">
                    <input width="1" type="number" name="amount"
                           class="form-control col-4"
                           th:max="${quantityMap.get(product.getId().getIdentifier())}"
                           placeholder="1" value="1" min="1" step="1"
                           aria-label="Recipient's username" aria-describedby="button-addon-group" required>
                    <div class="input-group-append">
                      <button class="btn btn-primary-rgba" type="submit" id="add-to-cart">Add to cart</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </td>
        </tr>
		<tr th:if="${point.key} == 'McZapf'" id="gas_pump_row">
			<th>Zapfsäule</th>
			<td colspan="3">No Info</td>
			<td> <div class="button-list">
              <div class="input-group mb-0">
                <form th:if="${role} == 'MANAGER'" method="post" th:action="@{/cart/pump/direct}">
                  <input type="hidden" name="pump-number"/>
                  <div class="input-group">
                    <!--suppress HtmlFormInputWithoutLabel -->
                  <select
                        required
                        class="form-control col-3"
                        th:id="pump-select"
                        onChange="changeGasPumpRowValues(this, this.options[this.selectedIndex].value)">
                      <option value="" selected disabled>pump №</option>
                      <option th:each="pump,iter : ${pumps}"
							th:value="${iter.index}"
							th:text="${iter.index + 1}"></option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-primary-rgba" type="submit" id="add-to-cart">Add to cart</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
			</td>
		</tr>
        </tbody>
      </table>
    </div>
  </div>
  <script th:inline="javascript">
      function changeInputMaxValue(selectObject, value) {
          let input = document.getElementsByClassName(selectObject.id.replace('select', 'input'))[0];
          input.setAttribute("max", value); // set a new value;
          Array.from(selectObject.options).forEach(el => {
              if (el.value === value)
                  el.setAttribute("selected", true);
              else
                  el.removeAttribute("selected")
          });
      }
	function changeGasPumpRowValues(obj, value){
		// get gas pump row and pumps
		let row = document.getElementById('gas_pump_row');
		let pumps = /*[[${pumps}]]*/ 'defaultvalue';
		
		// set hidden input value for submitting
		document.getElementsByName("pump-number")[0].value = value;
		
		// set description
		if (pumps === 'defaultvalue' || pumps[value] === null){
			row.getElementsByTagName("td")[0].innerHTML = "No Info";
			return;
		}
		row.getElementsByTagName("td")[0].innerHTML = pumps[value].fuelType + "/"+ pumps[value].fuelQuantity.toFixed(2)+ "l";
	}
  </script>
</div>
</body>
</html>