<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Orders History</title>
</head>
<body>
<div class="card m-b-30" th:fragment="table" th:unless="${orders.isEmpty()}">
  <div class="card-header">
    <h4 class="card-title mb-0">Orders list</h4>
  </div>
  <div class="card-body">
    <div class="order-box" th:each="order : ${orders}">
      <div class="card border m-b-30">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <h5>
                ID : #<span th:text="${order.getIdString()}"></span></h5>
            </div>
            <div class="col-sm-6">
              <h6 class="mb-0">Total :
                <strong th:text="${order.getTotalString()}">
                </strong>
              </h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Identifier</th>
                <th scope="col">Qty</th>
                <th scope="col" class="text-right">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="line : ${order.getOrderLines()}">
                <th scope="row" th:text="${line.getProductName()}">1</th>
                <td th:text="${line.getId()}">Apple Watch</td>
                <td th:text="${line.getQuantity()}">1</td>
                <td th:text="${line.getPrice()}" class="text-right">$100</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <h5>Status :
                <span th:if="${order.isOpen()}"
                      class="badge badge-warning-inverse font-14">Open</span>
                <span th:if="${order.isPaid()}"
                      class="badge badge-success-inverse font-14">Paid</span>
                <span th:if="${order.isCompleted()}"
                      class="badge badge-success-inverse font-14">Completed</span>
                <span th:unless="${role} == 'Customer'" class="ml-3">
                  <span>User: <span th:text="${order.getUserAccount().getUsername()}"></span></span>
              </h5>
             </div>
            <div class="col-sm-6" th:if="${role} == 'Customer'">
              <h6 class="mb-0">
             </span>
                <table>
                  <tr>
                    <td>
                <span class="text-right">
                  <form action="/bill" method="post">
                    <button type="submit" th:name="id" th:value="${order.getIdString()}"
                            class="btn btn-primary-rgba">
                      Show Bill
                    </button>
                </form>
                </span>
                    </td>
                    <td>
                <form action="/order/delete" method="post">
                  <button type="submit" th:name="id" th:value="${order.getIdString()}"
                          class="btn btn-danger-rgba font-16">
                    <i class="feather icon-rewind mr-2"></i>
                    Request Refund
                  </button>
                </form>
                    </td>
                  </tr>
                </table>
            </h6>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>