<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Checkout component</title>
</head>
<body>

<div th:fragment="coupon" class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
  <div class="order-note">
    <form>
      <div class="form-group">
        <div class="input-group">
          <form th:action="@{/checkout}">
          <input type="search"  id="discountCode" class="form-control" name="discountCode" type="text"
                 placeholder="Coupon Code" aria-label="Search" aria-describedby="button-addonTags">
          <div class="input-group-append">
            <button class="input-group-text" type="submit" id="button-addonTags">Apply</button>
          </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
<div th:fragment="price" class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
  <div class="order-total table-responsive ">
    <table class="table table-borderless text-center">
      <tbody>
      <tr>
        <td class="f-w-7 font-18"><h4>Total :</h4></td>
        <td class="f-w-7 font-18"><h4 th:text="${finalprice}">$1180.00</h4></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div th:fragment="buttons" class="cart-footer text-right">
  <form  method="post" th:action="@{/checkout}">
    <button type="submit" class="btn btn-success-rgba my-1">Proceed to Checkout<i class="feather icon-credit-card ml-2"></i></button>
  </form>
</div>

</body>
</html>
